body {
    background:
    radial-gradient(circle at top, #162b45, #070b12 60%);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px 20px;
}


.container {
    max-width: 750px;
    margin: auto;
    animation: fadeIn 1s ease;
}


/* LOGO */

.logo {
    font-size: 55px;
    font-weight: bold;
    color: #00ff99;
    text-shadow: 0 0 25px #00ff99;
}

.logo span {
    font-size: 60px;
}


.version {
    color: #777;
    font-size: 14px;
}


/* HERO */

.tagline {
    font-size: 45px;
    color: white;
    font-weight: bold;
}


.description {
    color: #bbbbbb;
    font-size: 19px;
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
}


/* BUTTONS */

button {
    padding: 15px 28px;
    border-radius: 12px;
    border: none;
    background: #00ff99;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px #00ff99;
}


.start-button {
    margin-top: 30px;
    font-size: 18px;
}


/* CHAT */

.chat-box {

    background: #111827;
    border-radius: 20px;
    padding: 25px;
    margin-top: 40px;
    box-shadow: 0 0 30px rgba(0,255,153,0.15);

}


.chat-box h2 {
    color:#00ff99;
}


input {

    width:65%;
    padding:16px;
    border-radius:12px;
    border:none;
    font-size:16px;

}


.input-area {
    margin-top:20px;
}


.clear-button {

    margin-top:20px;
    background:#ff5555;
    color:white;

}


#chat-history {

    margin-top:25px;
    text-align:left;

}


.message,
.ai-message,
.user-message {

    background:#1b2638;
    padding:15px;
    border-radius:15px;
    margin:12px 0;

}


.user-message {

    border-left:5px solid #00ff99;

}


.ai-message {

    border-left:5px solid white;

}


#output {

    font-size:20px;
    margin-top:25px;

}


/* FEATURES */

.features {

    margin-top:60px;

}


h2 {

    color:#00ff99;

}


.feature-card {

    background:#111827;
    padding:25px;
    margin:18px 0;
    border-radius:18px;
    font-size:20px;
    transition:0.3s;

}


.feature-card:hover {

    transform:translateY(-8px);
    box-shadow:0 0 20px rgba(0,255,153,0.2);

}


.feature-card p {

    font-size:16px;
    color:#bbb;

}


/* ABOUT */

.about {

    margin-top:60px;
    background:#111827;
    padding:25px;
    border-radius:20px;

}


/* ANIMATION */

@keyframes fadeIn {

from {

opacity:0;
transform:translateY(25px);

}

to {

opacity:1;
transform:translateY(0);

}

}
